# Tuple and Methods

Tuples are ordered, immutable collections of elements in python. 

Tuples are used to store multiple items in a single variable and allow duplicates.

They are similar to lists but cannot be modified after creation.

Tuples are written with round brackets.

In [1]:
my_tuple = (1, "apple", 3.14)

In [2]:
print(my_tuple)

(1, 'apple', 3.14)

In [3]:
type(my_tuple)

tuple

In [4]:
my_tuple = tuple([2, "banana", True])

In [5]:
print(my_tuple)

(2, 'banana', True)

In [10]:
# accessing elements using indexing
my_tuple[0]

3

In [11]:
my_tuple[2]

45

In [12]:
my_tuple = (3, "banana", 45, 23, 878, "divya", True, 34, "orange")

In [13]:
print(my_tuple)

(3, 'banana', 45, 23, 878, 'divya', True, 34, 'orange')

In [15]:
# slicing extracts a portion of a tuple.
new_tuple = my_tuple[1:3]

In [16]:
print(new_tuple)

('banana', 45)

In [18]:
# tuple Length
len(my_tuple)

9

change tuple values : convert the tuple into a list, change the list, and convert the list back into a tuple.

In [24]:
my_tuple

(3, 'kiwi', 45, 23, 878, 'divya', True, 34, 'orange')

In [25]:
y = list(my_tuple)

In [26]:
y[1] = "kiwi"

In [27]:
my_tuple = tuple(y)

In [28]:
my_tuple

(3, 'kiwi', 45, 23, 878, 'divya', True, 34, 'orange')

In [29]:
# add items 
my_tuple

(3, 'kiwi', 45, 23, 878, 'divya', True, 34, 'orange')

In [30]:
y = list(my_tuple)

In [31]:
y.append("cherry")

In [32]:
my_tuple = tuple(y)

In [33]:
my_tuple

(3, 'kiwi', 45, 23, 878, 'divya', True, 34, 'orange', 'cherry')

In [34]:
y = ("apple",)

In [35]:
my_tuple += y

In [36]:
my_tuple

(3, 'kiwi', 45, 23, 878, 'divya', True, 34, 'orange', 'cherry', 'apple')

In [37]:
# remove items
y = list(my_tuple)
y.remove("apple")
my_tuple = tuple(y)

In [38]:
my_tuple

(3, 'kiwi', 45, 23, 878, 'divya', True, 34, 'orange', 'cherry')

In [39]:
del my_tuple

In [40]:
print(my_tuple)

NameError: name 'my_tuple' is not defined

unpacking tuple : 

When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
 
But we are also allowed to extract the values back into variables. This is called "unpacking".

In [41]:
my_tuple = ("apple", "banana", "cherry")

In [42]:
my_tuple

('apple', 'banana', 'cherry')

In [44]:
(green, yellow, red) = my_tuple

In [45]:
print(green)

apple

In [46]:
print(yellow)

banana

In [47]:
print(red)

cherry