# Variable Declaration Rule

Variables are containers for storing data values

Python has no Command for declaring a variable.

Assignment : The act of assingning a value to a variable creates the variale. 
    equal sign ( = )  sign use to assign a value.

In [4]:
x = 5

In [5]:
print(x)

5

In [6]:
y = "John"

In [7]:
print(y)

John

In [8]:
name = "Alice"

In [9]:
print(name)

Alice

In [10]:
age = 30

In [11]:
print(age)

30

In [12]:
pi = 3.14159

In [13]:
print(pi)

3.14159

Data Types :
    
    - Python is dynamically typed, meaning the variable's data type is determined by the value assigned to it.
    
    - we can assign different data types(strings, integers, floats, etc.) to the same variable throughout the code.

1. Strings : Represent text data enclosed in quotes( Single or double).

In [36]:
greeting = "Hello, world"
print(greeting)
type(greeting)

Hello, world

str

2. Integers : Whole numbers(positive, negative or zero)

In [38]:
num_apples = 10
print(num_apples)
type(num_apples)

10

int

3. Floats : Numbers with decimal points.

In [40]:
average_score = 87.6
print(average_score)
type(average_score)

87.6

float

Variable Names :

    - Names must start with a letter ( a-z or A-Z) or an underscore( _ ).
    
    - Can contain letters, numbers, and underscores after the first character.
    
    - Are case-sensitive(e.g. age, Age and AGE are different variables).
    
    - Avoid using Python keywords (like if, for, while) as variable names.

In [16]:
myvar = "John"
print(myvar)

John

In [17]:
my_var = "John"
print(my_var)

John

In [18]:
_my_var = "John"
print(_my_var)

John

In [19]:
myVar = "John"
print(myVar)

John

In [20]:
MYVAR = "John"
print(MYVAR)

John

In [22]:
myvar2 = "John"
print(myvar2)

John

In [23]:
2myvar = "John"
print(2myvar)

SyntaxError: invalid syntax (Temp/ipykernel_12660/1962627912.py, line 1)

In [24]:
my-var = "John"
print(my-var)

SyntaxError: cannot assign to operator (Temp/ipykernel_12660/1456144231.py, line 1)

In [25]:
my var = "John"
print(my var)

SyntaxError: invalid syntax (Temp/ipykernel_12660/373700845.py, line 1)

# Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them readable:

1. Camel Case :
    Each word, except the first, starts with a capital letter.

In [26]:
myVariableName = "John"

In [27]:
print(myVariableName)

John

2. Pascal Case : 
    Each word starts with a capital letter.

In [28]:
MyVariableName = "John"
print(MyVariableName)

John

3. Snake Case : Each word is separated by an underscore character.

In [29]:
my_variable_name = "John"
print(my_variable_name)

John

Assign Multiple Values :

1. Assigning to multiple varibles in one line.

In [30]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

2. Assigning the same value to multiple varibles.

In [31]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

3. Unpacking a Collection

If you have a collection of vaues in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [32]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry