# Set and Methods

Set is a collection which is ordered, unchangeble and unindexed.

store unique elements.

set { }

In [2]:
my_set = {3, 56, "apple", "red", 3.56, 6.89, "divs", True}

In [3]:
print(my_set)

{True, 'apple', 3, 3.56, 'red', 6.89, 56, 'divs'}

In [4]:
type(my_set)

set

Duplicates not allowed.

In [5]:
my_set = {3, 56, "apple", "red", 3.56, 6.89, "divs", True, True, 3.56, 3.56, "red", "red"}

In [6]:
print(my_set)

{True, 'apple', 3, 3.56, 'red', 6.89, 56, 'divs'}

In [7]:
#length of set
len(my_set)

8

In [8]:
# access set items
my_set

{3, 3.56, 56, 6.89, True, 'apple', 'divs', 'red'}

In [9]:
print("apple" in my_set)

True

In [10]:
print("apple" not in my_set)

False

In [11]:
# add items
my_set

{3, 3.56, 56, 6.89, True, 'apple', 'divs', 'red'}

In [12]:
my_set.add("orange")

In [13]:
print(my_set)

{True, 'apple', 3, 3.56, 'red', 6.89, 'orange', 56, 'divs'}

add set :  to add items from another set into the current set, use the update() method

In [14]:
my_set

{3, 3.56, 56, 6.89, True, 'apple', 'divs', 'orange', 'red'}

In [15]:
tropical = {"set", 34, 66, "mango", 6.35}

In [16]:
my_set.update(tropical)

In [17]:
print(my_set)

{True, 'apple', 3, 3.56, 'red', 6.89, 'mango', 34, 66, 'orange', 6.35, 'set', 56, 'divs'}

In [18]:
# add any iterable
my_set

{3,
 3.56,
 34,
 56,
 6.35,
 6.89,
 66,
 True,
 'apple',
 'divs',
 'mango',
 'orange',
 'red',
 'set'}

In [19]:
mylist = [45, "divya", 67]

In [20]:
my_set.update(mylist)

In [21]:
print(my_set)

{True, 'apple', 3, 3.56, 'red', 6.89, 'mango', 34, 66, 'orange', 6.35, 'divya', 45, 'set', 67, 56, 'divs'}

Remove Set Items : to remove an item in a set, use the remove(), or the discard() method.

In [22]:
my_set

{3,
 3.56,
 34,
 45,
 56,
 6.35,
 6.89,
 66,
 67,
 True,
 'apple',
 'divs',
 'divya',
 'mango',
 'orange',
 'red',
 'set'}

In [23]:
my_set.remove("mango")

In [24]:
my_set

{3,
 3.56,
 34,
 45,
 56,
 6.35,
 6.89,
 66,
 67,
 True,
 'apple',
 'divs',
 'divya',
 'orange',
 'red',
 'set'}

In [25]:
my_set.discard(3)

In [26]:
my_set

{3.56,
 34,
 45,
 56,
 6.35,
 6.89,
 66,
 67,
 True,
 'apple',
 'divs',
 'divya',
 'orange',
 'red',
 'set'}

we also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

In [27]:
x = my_set.pop()

In [28]:
print(x)

True

In [29]:
print(my_set)

{'apple', 3.56, 'red', 6.89, 34, 66, 'orange', 6.35, 'divya', 45, 'set', 67, 56, 'divs'}

In [30]:
# clear method empties the set
my_set.clear()

In [31]:
print(my_set)

set()

In [32]:
myset = {"red", 89, 3, "grapes"}

In [33]:
print(myset)

{89, 3, 'red', 'grapes'}

In [34]:
del myset

In [35]:
print(myset)

NameError: name 'myset' is not defined

Join Sets :

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

union() or (|) : the union() method returns a new set with all items from both sets.

In [36]:
set1 = { "a", "b", "c" }

In [37]:
set2 = {1, 2, 3}

In [38]:
set3 = set1.union(set2)

In [39]:
print(set3)

{1, 'b', 'c', 2, 3, 'a'}

In [40]:
# join multiple sets
set1 = { "a", "b", "c" }

In [41]:
set2 = {1, 2, 3}

In [42]:
set3 = {"John", "Elena"}

In [43]:
set4 = {"apple", "banana", "cherry"}

In [44]:
myset = set1.union(set2, set3, set4)

In [45]:
print(myset)

{1, 'b', 2, 3, 'apple', 'cherry', 'banana', 'c', 'Elena', 'John', 'a'}

Update :
    
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [46]:
set1 = {"a", "b", "c"}

In [47]:
set2 = {1, 2, 3}

In [48]:
set1.update(set2)

In [49]:
print(set1)

{1, 'b', 'c', 2, 3, 'a'}

Intersection or (&) : Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [50]:
set1 = {34, 3.56, 980}
set2 = {34, "apple", "red"}

In [51]:
set3 = set1.intersection(set2)

In [52]:
print(set3)

{34}

In [53]:
set4 = set1 & set2

In [54]:
print(set4)

{34}

Difference or ( - ) : The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [55]:
print(set1)
print(set2)

{34, 3.56, 980}
{'apple', 34, 'red'}

In [56]:
set3 = set1.difference(set2)

In [57]:
print(set3)

{3.56, 980}

Symmetric Differences or ( ^ ): The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [59]:
print(set1)
print(set2)

{34, 3.56, 980}
{'apple', 34, 'red'}

In [60]:
set3 = set1.symmetric_difference(set2)

In [61]:
print(set3)

{'apple', 3.56, 'red', 980}