# For loop

The for loop in Python is a powerful tool used to iterate over a sequence of elements. 

It allows you to execute a block of code for each element in the sequence.

for variable in sequence:

    # Code block to be executed

In [1]:
l = [1, 2, 3, 4, 5, 6, 7]

In [2]:
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
for i in l:
    print(i)

1
2
3
4
5
6
7

In [4]:
s = [1, 2, 3, 4, "divya", 6 + 7j, [45, 67, 21]]

In [5]:
print(s)

[1, 2, 3, 4, 'divya', (6+7j), [45, 67, 21]]

In [7]:
for i in s:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'list'>

In [9]:
# seperating integers from the list
for i in s:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

1
2
3
4
45
67
21

In [10]:
# for getting index number
len(s)

for i in range(len(s)):
    print("index", i, "for an element", s[i])

index 0 for an element 1
index 1 for an element 2
index 2 for an element 3
index 3 for an element 4
index 4 for an element divya
index 5 for an element (6+7j)
index 6 for an element [45, 67, 21]

In [12]:
# filtering elements from a list

numbers = [1, 2, 4, 5, 7, 8, 4, 5, 7, 32, 53, 21, 33]
filtered_numbers = []

for num in numbers:
    if num > 5:
        filtered_numbers.append(num)
print(filtered_numbers)

[7, 8, 7, 32, 53, 21, 33]

In [14]:
# counting characters in a string

sentence = "Hello, world!"
char_count = {}

for char in sentence :
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
        
print(char_count)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1, '!': 1}

In [40]:
type(char_count)

dict

In [15]:
for i in range(8):
    print(" "*(8 - i), "*" * i)

        *
       **
      ***
     ****
    *****
   ******
  *******

In [28]:
for i in range(8):
    print("*" * i, (8 - i)*" ")

*
**
***
****
*****
******
*******

In [22]:
for i in range(8):
    print("*" * i, (8 - i))

 8
* 7
** 6
*** 5
**** 4
***** 3
****** 2
******* 1

In [39]:
# Extracting vowels from a string
sentence = "The quick brown fox jumps over the lazy dog"
vowels = "aeiouAEIOU"
extracted_vowels = []

for char in sentence:
    if char in vowels:
        extracted_vowels.append(char)

print("Vowels in the sentence: ", extracted_vowels)

Vowels in the sentence:  ['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'e', 'a', 'o']

In [41]:
s = [1, 2, 3, 4, "divya", 6 + 7j, [45, 67, 21]]

In [42]:
print(s)

[1, 2, 3, 4, 'divya', (6+7j), [45, 67, 21]]

In [47]:
l2 = []
for i in s:
    if type(i) == int:
        print(i ** 2)

1
4
9
16

In [49]:
for i in "divya":
    print(i)

d
i
v
y
a

In [50]:
s

[1, 2, 3, 4, 'divya', (6+7j), [45, 67, 21]]

In [54]:
for i in s:
    if type(i) == int and i < 3:
        print(i)

1
2

In [55]:
s = [1, 22, 33, 44, 55, 66, 34, 12, 45, "divya", 6 + 7j, [45, 67, 21]]

In [56]:
#use for loop to generate a list of numbers from 9 to 50 divisible by 2

for i in range(9, 51):
	if i % 2 == 0:
		print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [57]:
#Calculate the average of list of numbers
numbers = [10, 20, 30, 40, 50]
#definite iteration
#run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum/list_size
print(average)

30.0

In [59]:
list1 = ["divya", 45, "pankaj", 5, 3, 6, 8, "every", 6.8]
print(list1)

['divya', 45, 'pankaj', 5, 3, 6, 8, 'every', 6.8]
45
8

In [60]:
for item in list1:
    if str(item).isnumeric() and item > 6:
        print(item)

45
8