# Operators

# 1. Arithmetic Operators :

Perform Mathematical Calculations :
    
    - Addition( + )
    
    - Subtraction ( - )
    
    - Multiplication ( * )
    
    - Division ( / ) - Performs floating-point division by default.
    
    - Floor Division ( // ) - Divides adn returns the whole number quotient.
    
    - Modulo ( % ) - Returns the remainder after division.
    
    - Exponentiation ( ** )

In [1]:
x = 5
y = 3

In [2]:
# Addition
sum = x + y 
print(sum)

8

In [3]:
# subtraction
difference = x - y
print(difference)

2

In [4]:
# Multiplication
product = x * y
print(product)

15

In [5]:
# Division
result = x / y
print(result)

1.6666666666666667

In [6]:
# Floor Division
quotient = x // y
print(quotient)

1

In [7]:
# Modulo
remainder = x % y
print(remainder)

2

In [8]:
# Exponentiation
power = x ** y
print(power)

125

# 2. Logical Operators :

Combine Conditional expressions : 
    
    1. And (and) - Returns True if both operands are True, False otherwise.
    
    2. Or (or) - Returns True if at least one operand is True, False otherwise.
    
    3. Not(not) - Inverts the truth value of a condition.

In [9]:
x = True
y = False

In [10]:
# And 
print( x and y )

False

In [11]:
# Or 
print(x or y)

True

In [13]:
# Not 
print(not x)

False

# 3. Assingment Operators

Assign values to variables, and some can perform operations during assignment : 
    
    - Simple Assignment ( = )
    
    - Add and Assign ( += )
    
    - Subtract and Assign ( -= )
    
    - Multiply and Assign ( *= )
     
    - Divide and Assign ( /= )
    
    - Floor Division and Assign ( //= )
    
    - Modulo and Assign ( %= )

In [14]:
x = 10

In [15]:
# Simple Assignment
x = 20 
print(x)

20

In [16]:
# Add and Assign
x += 5
print(x)

25

In [17]:
# Subtract and Assign
x -= 3
print(x)

22

In [19]:
# multiplication and Assign
x *= 2
print(x)

88

In [20]:
# Divide and Assign
x /= 2
print(x)

44.0

In [21]:
# Floor Division and Assign
x //= 3
print(x)

14.0

In [22]:
# Modulo and Assign 
x %= 2 
print(x)

0.0

# 4. Comparision Operators

Compare values and return boolean results (True or False):

    - Equal (==)
    
    - Not Equal (!=)
    
    - Greater Than (>)
    
    - Less Than (<)
    
    - Greater Than or Equal To (>=)
    
    - Less Than or Equal To (<=)

In [23]:
x = 15
y = 10

In [24]:
# Equal
print( x == y)

False

In [25]:
# Not Equal
print(x != y)

True

In [26]:
# Greater Than
print( x > y)

True

In [27]:
# Less Than
print(x < y)

False

In [28]:
# Greater Than or Equal to 
print(x <= y)

False

In [29]:
# Less Than or Equal to
print(x >= y)

True

# Data Types

# 1. Numeric Types :
     
        I) Integers( int ) - Whole Numbers( Positive, negative or zero)
        
        II) Float(float) - Numbers with decimal points.
        
        III) Complex Numbers(complex) - Represent numbers with the real and imaginary part(a + bj)

1. Integers(int)

In [31]:
age = 30
score = -80
count = 0
print(age, score, count)
type(age)
type(score)
type(count)

30 -80 0

int

2. Floats(float)

In [32]:
average = 87.5
pi = 3.14159
temperature = -27.3
print(average, pi, temperature)
type(average)
type(pi)
type(temperature)

87.5 3.14159 -27.3

float

3. Complex Number(complex)

In [33]:
z1 = 3 + 5j
z2 = 7j
print(z1, z2)
type(z1)
type(z2)

(3+5j) 7j

complex

# 2. String Type(str)

Represent sequences of characters enclosed in single or double quotes.

In [34]:
name = "Alice"
greeting = "Hello, world!"
multiline_text = """ This is a string 
that spans multiple lines."""

In [35]:
print(name, greeting, multiline_text)

Alice Hello, world!  This is a string
that spans multiple lines.

In [78]:
type(name)
type(greeting)
type(multiline_text)

str

# 3. Sequence Types

1. Lists(list) - Oredered, mutable collection of elements enclosed in square brackets[]. Elements can be of different data type.

In [42]:
fruits= ["apple", "banana", "cherry"]

In [43]:
print(fruits)

['apple', 'banana', 'cherry']

In [76]:
type(fruits)

list

In [44]:
numbers = [1, 5, 9, 3]

In [45]:
print(numbers)

[1, 5, 9, 3]

In [74]:
type(numbers)

list

In [46]:
mixed_data = [True, 3.14, "hello"]

In [47]:
print(mixed_data)

[True, 3.14, 'hello']

In [73]:
type(mixed_data)

list

2. Tuples(tuple) - ordered, immutable collection of elements enclosed in parentheses(). Elements can beb of different data types.

In [48]:
coordinates = (1, 2.5)

In [49]:
print(coordinates)

(1, 2.5)

In [72]:
type(coordinates)

tuple

In [50]:
empty_tuple = ()

In [51]:
print(empty_tuple)

()

In [71]:
type(empty_tuple)

tuple

In [52]:
student = ("John", 22, "CS")

In [53]:
print(student)

('John', 22, 'CS')

In [70]:
type(student)

tuple

3. Ranges(range) - Represent a sequence of numbers within a specified range. useful for loops.

# 4. Boolean Type

Represent logical values : True or False.

In [54]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

# 5. Set Types

1. Sets(set) - Unordered collection of unique elements enclosed in curly braces { }. Elements must be immutable(e.g., string, integers, not list)

In [60]:
unique_chars = {"s", "d", "m"}

In [61]:
print(unique_chars)

{'d', 's', 'm'}

In [63]:
type(unique_chars)

set

In [64]:
digits = set([1, 2,4, 5])

In [65]:
print(digits)

{1, 2, 4, 5}

In [66]:
type(digits)

set

2. Frozen sets(frozenset) - immutable version of sets. Once created, elements cannot be changed.

In [67]:
frozen_numbers = frozenset({4, 5, 6})

In [68]:
print(frozen_numbers)

frozenset({4, 5, 6})

In [69]:
type(frozen_numbers)

frozenset